body{
    margin: 0;

}
.brand-image{
    align-items: center;
}
.brand-image img {
    height: 55px;
}

.feature-image-container{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-image: url('../images/ft-dev-small.jpg');
    background-size: 100% 300px;
}



.d-flex{
    display: flex;
}

.w-100{
    width: 100%;
}

header{
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    border-bottom: 5px solid #7d97ad;
    margin-bottom: 15px;
}

.main-image{
    height: 400px;
}

.card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    max-width: 350px;
    max-height: 350px;
    margin-bottom: 30px;
}
.card .card-title{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.card-image{
    width: 100%;
    height: 210px;
}

.dev-name{
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.dev-position{
    margin-top: 0;
}

.feature-area{
    padding-left: 15px;
    padding-right: 15px;
}

.feature-area h2{
    margin-top: 25px;
}

@media screen and (min-width: 768px) {
    
    .feature-image-container{
        height: 325px;
        background-image: url('../images/ft-dev-medium.jpg');
        background-size: 100% 325px;
    }

}

@media screen and (min-width: 1024px) {
    body {
        margin-left: 15%;
        margin-right: 15%;
    }
    .feature-image-container{
        height: 425px;
        background-image: url('../images/ft-dev-large.jpg');
        background-size: 100% 425px;

    }
}

